$primary-blue = #009de0;
$secondary-blue = #f0f8fa

$primary-white = white;

.gradient-white
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

.background-primary-blue
  background-color $primary-blue

.background-secondary-blue
  background-color $secondary-blue


.text-primary-blue
  color $primary-blue