$primary-blue = #009de0;
$secondary-blue = darken($primary-blue, 20%)

$primary-white = white;

.gradient-white
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

.background-primary-blue
  background-color $primary-blue

.background-secondary-blue
  background-color $secondary-blue
