@import "~bootstrap/dist/css/bootstrap.min.css";
@tailwind utilities;

@import "./colors.styl";
@import "./section.styl";

html{
  scroll-behavior: smooth;
}

a
  color $primary-blue !important
  font-weight bold
  :hover
    color darken($primary-blue,10%) !important
  :active
    color $primary-blue !important